<label>Date From </label><input type="date" id="start" onchange="filterChart();" />
<label>Date To </label><input type="date" id="end" onchange="filterChart();" />

<canvas id="bitcoinChart" width="800" height="450"></canvas>